.sectionCreate{
    font-family: Cera Pro;
    font-size: 48px;
    font-weight: 700;    
}


.sectionCreate{
    display: flex;
    align-items: center;
    flex-direction: column;
}


.CreateMainSlogan{
    margin-top: 100px;
}

.CreateBLOX{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
}

.createRightSection{
    padding: 0;
    display: flex;
    width: 500px;
    height: 700px;
    border: 1px solid black;
    flex-direction: column;
    align-items: center;
    margin: 40px;
}

.Constructor{
    font-family: Cera Pro;
font-size: 14px;
font-weight: 700;
color: #C4C4C4;

}

.line{
    border: 1px solid #C4C4C4;      
    width: 500px;
    height: 0px;
    margin-top: 10px;
}

.inputName input{
    border: 1px solid #01A358;
    width: 500px;
height: 50px;
top: 1213px;
left: 200px;
gap: 0px;
border-radius: 48px     ;
opacity: 0px;
}