.sectionHeder{
   display: flex;
   align-items: center;
   justify-content: space-between;
   height: 120px;
   flex-direction: row;
}

.HederLinks ul{
   display: flex;
   flex-direction: row;
}

.HederLinks ul li{
margin-left: 20px;
}

.HederA{
   color: black;
   font-family: Cera Pro;
font-size: 14px;
font-weight: 700;
}


.grenLinks ,.HederA:hover{
   color: #01A358;
   font-family: Cera Pro;
font-size: 14px;
font-weight: 700;
}