input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid #C4C4C4;
    border-radius: 100%;
    outline: none;
    transition: 0.5s;
    position: relative;

}

.pinks[type = "checkbox"]:hover {
    border: 1px solid #FE99C4;    ;
}

.pinks[type = "checkbox"]:hover[type="checkbox"]:checked  , input[type="checkbox"]:checked:hover{
    border: 1px solid #FE99C4    ;
}


.pinks[type="checkbox"]:checked {
    background-color: #FE99C4    ; 
}


.grens[type = "checkbox"]:hover {
    border: 1px solid #01A358;    ;
}

.grens[type = "checkbox"]:hover[type="checkbox"]:checked  , input[type="checkbox"]:checked:hover{
    border: 1px solid #01A358    ;
}


.blus[type="checkbox"]:checked {
    background-color: #006DBA
    ; 
}

.blus[type = "checkbox"]:hover {
    border: 1px solid #006DBA
    ;
}#FF8A00

.orangs[type = "checkbox"]:hover {
    border: 1px solid #FF8A00;    
}

.orangs[type = "checkbox"]:hover[type="checkbox"]:checked  , input[type="checkbox"]:checked:hover{
    border: 1px solid #FF8A00   ;
}


.orangs[type="checkbox"]:checked {
    background-color: #FF8A00   ; 
}

.blus[type = "checkbox"]:hover[type="checkbox"]:checked  , input[type="checkbox"]:checked:hover{
    border: 1px solid #006DBA
    ;
}


.grens[type="checkbox"]:checked {
    background-color: #01A358   ; 
}

.yelows[type = "checkbox"]:hover {
    border: 1px solid #FDB932
    ;    
}

.yelows[type = "checkbox"]:hover[type="checkbox"]:checked  , input[type="checkbox"]:checked:hover{
    border: 1px solid #FDB932
    ;
}


.yelows[type="checkbox"]:checked {
    background-color: #FDB932
    ; 
}

.hards[type = "checkbox"]:hover {
    border: 1px solid #FF5F01

    ;    
}

.hards[type = "checkbox"]:hover[type="checkbox"]:checked  , input[type="checkbox"]:checked:hover{
    border: 1px solid #FF5F01

    ;
}


.hards[type="checkbox"]:checked {
    background-color: #FF5F01

    ; 
}

input[type="checkbox"]::before {
    content: "✔"; 
    font-size: 16px;
    color: transparent;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s;
}

input[type="checkbox"]:checked::before {
    color: #fff; /* Колір галочки */
}

.parent {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    font-family: Cera Pro;
    font-size: 14px;
    font-weight: 700;
    margin: 20px 0;
    }

.shecktext{
    margin-left: 10px;
    font-family:Arial, Helvetica, sans-serif;     
    white-space: nowrap;
  
}    

.checkbox{
    display: flex;
    align-items: center;
    margin-top: 10px;
}