input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid #C4C4C4;
    border-radius: 100%;
    outline: none;
    transition: 0.5s;
    position: relative;
}

input[type = "checkbox"]:hover {
    border: 1px solid #FF8A00;
}

input[type="checkbox"]:checked  , input[type="checkbox"]:checked:hover{
    border: 1px solid #FF8A00;
}


input[type="checkbox"]:checked {
    background-color: #FF8A00; 
}


input[type="checkbox"]::before {
    content: "✔"; 
    font-size: 16px;
    color: transparent;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s;
}

input[type="checkbox"]:checked::before {
    color: #fff; /* Колір галочки */
}

.parent {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    font-family: Cera Pro;
    font-size: 14px;
    font-weight: 700;
    margin: 20px 0;
    }

.shecktext{
    margin-left: 10px;
}    

.checkbox{
    display: flex;
    align-items: center;
    margin-top: 10px;
}